{% extends 'app1/baseintro.html' %}
{% block body_block %}
{% load static %}
{% load widget_tweaks %}



<link rel="stylesheet" href={% static 'css/clubpassword.css'%} >
<script src={% static 'js/clubpassword.js' %}></script>




{% if user.is_login %}
{{msg}}
<!---- search field ------->
<div class="search" >
<form class="" action="" method="post">
  {% csrf_token %}
  <input type="password" class="input" name="input" placeholder="Password"><br>
  <button type="submit" name="button">Submit</button>

</form>
</div>







{% else %}
<h2>YOU need to login first</h2>
{% endif%}


{% endblock %}
