<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="google-signin-scope" content="profile email">
   <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <body>
    {% load static %}
    <!-- JavaScript Bundle with Popper -->


    <link rel="stylesheet" href={% static 'css/customerlogin.css' %}>








    <div class="container" id="container">

    	<div class="form-container sign-in-container">
    		<form  action="" method="POST"  id="contact_form">
          {% csrf_token %}
    			<h1>Jinx Login</h1>
    			<div class="social-container">
    				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
    				<a href="#" class="social"><i class="fa fa-google"></i></a>
    				<a href="#" class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    			</div>

    			<input type="text" placeholder="Username" name="username" />
    			<input type="password" placeholder="Password" name="password" />

    			<span>*Username and Password will not be provided later <br>{{msg}}</span><br>
    			<button type="submit" >LogIn</button>

          <br>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
    }
  </script>
    		</form>

    	</div>
    	<div class="overlay-container">
    		<div class="overlay">

    			<div class="overlay-panel overlay-right">
    				<h1>Hola Amigo!</h1>
    				<p>Enter your personal details and start journey with us</p>
    				<a href={% url 'add_customer' %}><button class="ghost" id="signUp">Sign Up</button></a>


            <a href={% url 'seller_login' %}><button class="ghost" id="signUp">Go Seller!</button></a>
    			</div>

    		</div>
    	</div>
    </div>

    <footer>
    	<p>
    		Created with <i class="fa fa-heart"></i> by
    		<a  href="#">Vineet Chauhan &nbsp</a>
        Owned by Vinstec <i class="fa fa-hand-rock-o" aria-hidden="true"></i>

    	</p>
    </footer>












  </body>

  <link rel="stylesheet" href={% static 'js/loginc.js' %}>
</html>
