
{% extends 'app1/baseintro.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href={% static 'css/listtofeed.css' %} >
{% if user.is_login %}


<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">

              {% for post in posts %}
              {% if post.creator in user.followings.all or post.creator == user and post.is_block == False or user.is_admin  %}
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                            <div class="d-flex flex-row align-items-center feed-text px-2"><a href={% url 'customer_detail' pk=post.creator.id %}><img class="rounded-circle" src={{post.creator.profile_image.url}} height="45" width="45"></a>
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{post.creator.username}}</span><span class="text-black-50 time">{{post.date_created}}</span></div>
                            </div>
                            <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                        </div>
                    </div>
                    <div class="feed-image p-2 px-3"><a href={% url 'post_detail' pk=post.id %}><img class="img-fluid img-responsive" src={{post.profile_image.url}} height="500"></a></div>

                    <div class="p-2 px-3"><span>{{post.desc}}</span></div>


                    <br>
                    <hr>
                    <div class="d-flex justify-content-end socials p-2 py-3">
                      <a href={% url 'likelist' pk=post.id %}>
                      <form class=""  method="post">
                        {% csrf_token %}
                         Likes: {{post.likers.all.count}}
                          {% if user in post.likers.all %}
                              <button type="submit" name="submit"><i class="fa fa-thumbs-down" ></i></button>
                          {% else %}
                        <button type="submit" name="submit"><i class="fa fa-thumbs-up"></i></button>
                          {% endif %}
                          <input type="hidden" name="id" value={{post.id}}>
                      </form></a>






                    <a href={% url 'commentbox' pk=post.id %}>  <button type="button" name="button"><i class="fa fa-comments-o"></button></i></a>













                    </div>









                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% else %}
You need to login
{% endif %}
{% endblock %}
