<div class="container" >

  <form class="well form-horizontal" action="" method="POST"  id="contact_form">
<fieldset>
{% csrf_token %}
<!-- Form Name -->

<legend><center><h2><b>Customer LogIn</b></h2></center></legend><br>

<!-- Text input-->




<div class="form-group" align = "center">

<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input  name="username" placeholder="Username" class="form-control"  type="text">
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group" align = "center">
<label class="col-md-4 control-label" ></label>
  <div class="col-md-4 inputGroupContainer" >
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input name="password" placeholder="Password" class="form-control"  type="password">
  </div>
</div>
</div>

<!-- Text input-->



<!-- Button -->
<div class="form-group" align="center">
<label class="col-md-4 control-label"></label>
<div class="col-md-4"><br>
  &nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
</div>
</div>

</fieldset>
</form>
</div>
  </div><!-- /.container -->



<br><hr>
