{% extends 'app1/baseintro.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href={% static 'css/orderform.css'%}>







<div class="padding">


   <div class="col-md-10">
       <!-- Column -->
       <div class="card">
           <div class="card-body little-profile text-center">




           <h3>Pending Orders</h3>
           <table>
             <tr>
               <td>Product</td>
               <td>Category</td>
               <td>Date ordered</td>

               <td>Order address</td>
               <td>Customer Name</td>
               <td>Delivery Address</td>
               <td> Price </td>
               <td>STATUS</td>
               <td></td>
               <td></td>
               <td></td>
             </tr>
             <br>
             {% for order in orders %}
             {% if order.status == "Pending" or order.status == "Order Confirmed" or order.status == "ORDER CONFIRMED" or order.status == "PENDING" %}
             <tr>
               {% if order.product != None %}
               <td> <a href={% url 'order_detail' pk=order.pk %}>{{order.product.name}}</a></td>
               {% else %}
               <td>Deleted</td>
               {% endif %}

               <td>{{order.product.category}}</td>
               <td>{{order.date_created}}</td>

               <td>{{order.address}}</td>
               {% if order.seller != None %}
               <td>@{{order.customer.username}}</td>
               <td>{{order.customer.address}}</td>
               {% else %}
               <td>Deleted</td>
               {% endif %}

               <td>{{order.product.price}}</td>
               <td>{{order.status}}</td>
               {% if user.is_admin or user.is_seller %}
               <td> <a href={% url 'order_update' pk=order.id %}><button class="btn btn-outline-info">  Update  </button></a></td>

               <td> <a href={% url 'delete_order' pk=order.id %}><button class="btn btn-outline-info">  Delete  </button></a></td>
               {% if order.is_block %}
               <td> <a href={% url 'unblock_order' pk=order.id %}><button class="btn btn-outline-info">  UnBlock  </button></a></td>
               {% else %}
               <td> <a href={% url 'block_order' pk=order.id %}><button class="btn btn-outline-info">  Block  </button></a></td>
               {% endif %}


               {% endif %}


               {% endif %}

             </tr>

             {% endfor %}

           </table>



           <br>
           <hr>


</div>
</div>
</div>
</div>





















{% endblock %}
