{% extends 'app1/baseintro.html' %}
{% load static %}
<link rel="stylesheet" href={% static 'css/block.css' %}>
{% block body_block %}



{{msg}}
<form  action = {% url 'public' %} method="POST">
  {% csrf_token %}
<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">Confirmation Box</h5> <br><span class="mobile-text">Are you sure you want to Make Account Public? </span>

        <br>
      <button class="btn btn-danger" type=submit""> Confirm </button><br>
        <a href={% url 'customerintro' %}><button class="btn btn-outline-danger" type="button" name="button">Cancel</button></a>
    </div>
</div>


</form>









{% endblock %}
